/* Global */
body {
  font-family: 'Montserrat', sans-serif;

}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.nav,
.navigation {
  font-family: 'Roboto', sans-serif;

}

/* End of Global */

/* Nav Area */
.nav {
  /* can't get background image to show */
  color: white;
  font-family: 'Roboto', sans-serif;
  background-image: url("../img/bannerPaper.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  width: 98%;
  text-align: center;
  /* nav generator CSS */
  margin: 0px 0px 0px 0px;
  padding: 10px 6px 4px 6px;
  height: 48px;
  line-height: 100%;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  box-shadow: 2px 2px 3px #666666;
  -webkit-box-shadow: 2px 2px 3px #666666;
  -moz-box-shadow: 2px 2px 3px #666666;
  background: #3D46C6;
  border: solid 0px #261E2B;
  position: relative;
  z-index: 999;
}

.centerTitle {
  font-size: 30px;
}

/* Articles */
.articleArea {
  width: 100%;

}

img {
  max-width: 425px;
  border: solid 1.5px #3D46C6;
  /* still overflowing :/ */
  overflow:hidden;
}

li {
  list-style-type: none;
  /* makes it horizontal nav */
  display: inline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* End of Nav Area */

.article {
  display: flex;
  flex-direction: column;
  margin: 40px 30px;
  text-align: center;
  border-style: outset;
  padding: 10px;
  max-width: 42%;
  background-color: rgba(224, 191, 121, .5)
}

.articleArea {
  /* flex */
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.articleTitle {
  max-width: 90%;
  text-align: center;
}

/* button generator. Work Smarter not Harder! */
.addComment {
  margin: 10px;
  -moz-box-shadow: inset -1px -1px 3px -4px #f9eca0;
  -webkit-box-shadow: inset -1px -1px 3px -4px #f9eca0;
  box-shadow: inset -1px -1px 3px -4px #f9eca0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f0c911), color-stop(1, #f2ab1e));
  background: -moz-linear-gradient(top, #f0c911 5%, #f2ab1e 100%);
  background: -webkit-linear-gradient(top, #f0c911 5%, #f2ab1e 100%);
  background: -o-linear-gradient(top, #f0c911 5%, #f2ab1e 100%);
  background: -ms-linear-gradient(top, #f0c911 5%, #f2ab1e 100%);
  background: linear-gradient(to bottom, #f0c911 5%, #f2ab1e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0c911', endColorstr='#f2ab1e', GradientType=0);
  background-color: #f0c911;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #e65f44;
  display: inline-block;
  cursor: pointer;
  color: #c92200;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ded17c;
}

.addComment:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f2ab1e), color-stop(1, #f0c911));
  background: -moz-linear-gradient(top, #f2ab1e 5%, #f0c911 100%);
  background: -webkit-linear-gradient(top, #f2ab1e 5%, #f0c911 100%);
  background: -o-linear-gradient(top, #f2ab1e 5%, #f0c911 100%);
  background: -ms-linear-gradient(top, #f2ab1e 5%, #f0c911 100%);
  background: linear-gradient(to bottom, #f2ab1e 5%, #f0c911 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2ab1e', endColorstr='#f0c911', GradientType=0);
  background-color: #f2ab1e;
}

.addComment:active {
  position: relative;
  top: 1px;
}

.thisComment:nth-child(even) {
  background-color: #e8dae4;
}

/* Read Full Story - Button Generator*/

.myButton {
  -moz-box-shadow: 0px 10px 14px -7px #276873;
  -webkit-box-shadow: 0px 10px 14px -7px #276873;
  box-shadow: 0px 10px 14px -7px #276873;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
  background: -moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
  background: -webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
  background: -o-linear-gradient(top, #599bb3 5%, #408c99 100%);
  background: -ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
  background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99', GradientType=0);
  background-color: #599bb3;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 16px;
  font-weight: bold;
  padding: 6px 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
  margin-bottom: 10px;
}

.myButton:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
  background: -moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
  background: -webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
  background: -o-linear-gradient(top, #408c99 5%, #599bb3 100%);
  background: -ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
  background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3', GradientType=0);
  background-color: #408c99;
}

.myButton:active {
  position: relative;
  top: 1px;
}